@model fes.Models.ClaimHeader

<table class="table">
    <tr>
        <th>
            Claim
        </th>
        <th>
        </th>
        <th></th>
    </tr>

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>

</table>

