@model fes.Models.ClaimHeader
<table style="table-layout:fixed;">
    <tr>
        <td style="width:0.2%;">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:8.3%">&nbsp;</td>
        <td style="width:0.2%;font-size:x-small;" rowspan="5"><div><span><b>&#8592;&#8213;&#8213; CARRIER &#8213;&#8213;&#8594;</b></span></div></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="font-size:large;border:1px solid gray; border-bottom-left-radius:4px; border-bottom-right-radius:4px;border-top-left-radius:4px; border-top-right-radius:4px;text-align:center;"><b>1500</b></td>
        <td colspan="11"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan ="4" style="font-size:large;"><b>HEALTH INSURANCE CLAIM FORM</b></td>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;">APPROVED BY NATIONAL UNIFORM CLAIM COMMITTEE 08/05</td>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-bottom:2px solid black;"><input type="text" readonly="readonly" style="border:1px solid gray;width:10px;" /><input type="text" readonly="readonly" style="border:1px solid gray;width:10px;" /><input type="text" readonly="readonly" style="border:1px solid gray;width:10px;" /> PICA</td>
        <td colspan="10" style="border-bottom:2px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-bottom:2px solid black;text-align:right;">PICA <input type="text" readonly="readonly" style="border:1px solid gray;width:10px;" /><input type="text" readonly="readonly" style="border:1px solid gray;width:10px;" /><input type="text" readonly="readonly" style="border:1px solid gray;width:10px;" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;">1. MEDICARE</td>
        <td colspan="1" style="font-size:x-small;">MEDICAID</td>
        <td colspan="1" style="font-size:x-small;">TRICARE</td>
        <td colspan="1" style="font-size:x-small;">CHAMPVA</td>
        <td colspan="1" style="font-size:x-small;">GROUP</td>
        <td colspan="1" style="font-size:x-small;">FECA</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black">OTHER</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;">1a. INSURED’S I.D. NUMBER</td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;">(For Program in Item 1)</td>
        <td style="font-size:x-small;" rowspan="26"><div><span><b>&#8592;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213; PATIENT AND INSURED INFORMATION &#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8594;</b></span></div></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">CHAMPUS</td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">HEALTH PLAN</td>
        <td colspan="1" style="font-size:x-small;">BLK LUNG</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black"></td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled"/> (Medicare #) </td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled" /> (Medicaid #)</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled" /> (Sponsor’s SSN)</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled" /> (Member ID#)</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled" /> (SSN or ID)</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled" /> (SSN)</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;"><input type="checkbox" disabled="disabled" /> (ID)</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">2. PATIENT’S NAME (Last Name, First Name, Middle Initial)</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;">3. PATIENT’S BIRTH DATE</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">SEX</td>
        <td colspan="5" style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;">4. INSURED’S NAME (Last Name, First Name, Middle Initial)</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;text-align:center;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;">M&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" /></td>
        <td colspan="5" style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">5. PATIENT’S ADDRESS (No., Street)</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;">6. PATIENT RELATIONSHIP TO INSURED</td>
        <td colspan="5" style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;">7. INSURED’S ADDRESS (No., Street)</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="3" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;">Self&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;Spouse&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;Child&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;Other&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">CITY</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">STATE</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;">8. PATIENT STATUS</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">CITY</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">STATE</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;">Single&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="1" style="font-size:x-small;">Married&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="1" style="font-size:x-small;">Other&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">ZIP CODE</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">TELEPHONE (Include Area Code)</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">ZIP CODE</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">TELEPHONE (Include Area Code)</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">Employed&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">Full-Time Student&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">Part-Time Student&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">9. OTHER INSURED’S NAME (Last Name, First Name, Middle Initial)</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;"> 10. IS PATIENT’S CONDITION RELATED TO:</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">11. INSURED’S POLICY GROUP OR FECA NUMBER</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">a. OTHER INSURED’S POLICY OR GROUP NUMBER</td>
        <td colspan="2" style="font-size:x-small;">a. EMPLOYMENT? (Current or Previous)</td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;">a. INSURED’S DATE OF BIRTH</td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;">SEX</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;YES&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;NO&nbsp;</td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;">M&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;">b. OTHER INSURED’S DATE OF BIRTH</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">SEX</td>
        <td colspan="2" style="font-size:x-small;">b. AUTO ACCIDENT?</td>
        <td colspan="1" style="font-size:x-small;">PLACE(STATE)</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">b. EMPLOYER’S NAME OR SCHOOL NAME</td>        
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;&nbsp;M&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;YES&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;NO&nbsp;</td>
        <td colspan="1" style="font-size:x-small;"><input type="text" readonly="readonly" style="width:75px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:1px solid;" /></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">c. EMPLOYER’S NAME OR SCHOOL NAME</td>
        <td colspan="2" style="font-size:x-small;">c. OTHER ACCIDENT?</td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">c. INSURANCE PLAN NAME OR PROGRAM NAME</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;YES&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;NO&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">d. INSURANCE PLAN NAME OR PROGRAM NAME</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">10d. CLAIM CODES (Designated by NUCC)</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">d. IS THERE ANOTHER HEALTH BENEFIT PLAN?</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;YES&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>If yes,</b> return to and complete item 9 a-d.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;"><b>READ BACK OF FORM BEFORE COMPLETING & SIGNING THIS FORM</b></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">13. INSURED’S OR AUTHORIZED PERSON’S SIGNATURE I authorize</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">12. PATIENT’S OR AUTHORIZED PERSON’S SIGNATURE I authorize the release of any medical or other information necessary</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;payment of medical benefits to the undersigned physician or supplier for</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to process this claim. I also request payment of government benefits either to myself or to the party who accepts assignment</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;services described below.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;below.</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-bottom:2px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGNED<input type="text" readonly="readonly" style="width:100%;border-top:0px;border-bottom:1px solid;border-left:0px;border-right:0px;" /></td>
        <td colspan="3" style="font-size:x-small;border-right:1px solid black;border-bottom:2px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE<input type="text" readonly="readonly" style="width:75%;border-top:0px;border-bottom:1px solid;border-left:0px;border-right:0px;" /></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:2px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGNED<input type="text" readonly="readonly" style="width:100%;border-top:0px;border-bottom:1px solid;border-left:0px;border-right:0px;" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">14. DATE OF CURRENT ILLNESS, INJURY, or PREGNANCY(LMP)</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">15. OTHER DATE</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">16. DATES PATIENT UNABLE TO WORK IN CURRENT OCCUPATION</td>
        <td style="font-size:x-small;" rowspan="24"><div><span><b>&#8592;&#8213;&#8213;&#8213; PHYSICIAN OR SUPPLIER INFORMATION &#8213;&#8213;&#8213;&#8594;</b></span></div></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;text-align:right;vertical-align:text-bottom;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table>QUAL</td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;border-left:1px dashed black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px dashed black;border-bottom:1px solid black;">QUAL</td>
        <td colspan="2" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;">FROM</td>
        <td colspan="2" style="font-size:x-small;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">TO</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">17. NAME OF REFERRING PROVIDER OR OTHER SOURCE</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px dashed black;background-color:lightgray;">17a.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px dashed black;background-color:lightgray;"></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px dashed black;background-color:lightgray;"></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">18. HOSPITALIZATION DATES RELATED TO CURRENT SERVICES</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">17b.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">NPI</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;">FROM</td>
        <td colspan="2" style="font-size:x-small;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">TO</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">MM</td><td style="width:33%;">DD</td><td style="width:33%;">YY</td></tr><tr><td>&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr></table></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">19. ADDITIONAL CLAIM INFORMATION (Designated by NUCC)</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;">20. OUTSIDE LAB?</td>
        <td colspan="3" style="font-size:x-small;border-right:1px solid black;text-align:center;">$ CHARGES</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;YES&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;NO&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="6" style="font-size:x-small;border-left:1px solid black;">21. DIAGNOSIS OR NATURE OF ILLNESS OR INJURY Relate Items A-L to service line below (24E)</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;"><table align="center"><tr><td style="width:33%;">ICD Ind.</td><td style="width:33%;border-left:1px dashed;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="width:33%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">22. RESUBMISSION</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="7" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;">CODE</td>
        <td colspan="3" style="font-size:x-small;border-right:1px solid black;">ORIGINAL REF. NO.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;">A. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">B. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">C. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">D. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;">E. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">F. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;">G. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;"></td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">H. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">23. PRIOR AUTHORIZATION NUMBER</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;">I. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">J. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;">K. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="1" style="font-size:x-small;border-bottom:1px solid black;"></td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">L. <input type="text" readonly="readonly" style="width:55px;border-top:0px;border-bottom:1px solid;border-left:1px solid;border-right:0px;" /></td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">24. A.      DATE(S) OF SERVICE</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">B.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">C.</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">D. PROCEDURES, SERVICES, OR SUPPLIES</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">E.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">F.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">G.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">H.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">I.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">J.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">From</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">To</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">PLACE OF</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;"></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">(Explain Unusual Circumstances)</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">DIAGNOSIS</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;"></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">DAYS OR</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">EPSDT</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">ID.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;text-align:center;">RENDERING</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">MM    DD    YY</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">MM    DD    YY</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">SERVICE</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">EMG</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">CPT/HCPCS</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">MODIFIER</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">POINTER</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">$ CHARGES</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">UNITS</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">Family Plan</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">QUAL.</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">PROVIDER ID. #</td>
    </tr>
    <!--Start Service Line Loop-->
    <tr>
        <td rowspan="2">1</td>
        <td style="font-size:x-small;border-left:1px solid black;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;border-right:1px solid black;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;border-bottom:1px dashed black;text-align:center;background-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;border-bottom:1px dashed black;text-align:center;background-color:lightgray;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;"><table align="center"><tr><td style="width:33%;">&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;width:33%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="width:33%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:33%;">&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;width:33%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="width:33%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;column-rule-color:lightgray;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:25%;">&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;width:25%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="border-left:1px dashed;border-right:1px dashed;width:25%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="width:25%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:85%;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;</td><td style="width:15%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td style="font-size:x-small;text-align:center;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;text-align:center;">&nbsp;</td>
        <td style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;border-bottom:1px solid black;text-align:center;">NPI</td>
        <td style="font-size:x-small;border-right:1px solid black;border-left:1px solid black;border-bottom:1px solid black;text-align:center;">&nbsp;</td>
    </tr>
    <!--End Service Line Loop-->
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;">25. FEDERAL TAX I.D. NUMBER</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">SSN EIN</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">26. PATIENT’S ACCOUNT NO.</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">27. ACCEPT ASSIGNMENT?</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">28. TOTAL CHARGE</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">29. AMOUNT PAID</td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">30. BALANCE DUE</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;YES&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" />&nbsp;NO&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:85%;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;</td><td style="width:15%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:85%;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;</td><td style="width:15%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
        <td colspan="1" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><table align="center"><tr><td style="width:85%;border-right:1px dashed;">&nbsp;&nbsp;&nbsp;</td><td style="width:15%;">&nbsp;&nbsp;&nbsp;</td></tr></table></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">31. SIGNATURE OF PHYSICIAN OR SUPPLIER</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">32. SERVICE FACILITY LOCATION INFORMATION</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;">33. BILLING PROVIDER INFO & PH #</td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INCLUDING DEGREES OR CREDENTIALS</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(I certify that the statements on the reverse</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;apply to this bill and are made a part thereof.)</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;">&nbsp;</td>
        <td colspan="4" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
        <td colspan="5" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-bottom:2px solid black;"><b>SIGNED</b></td>
        <td colspan="1" style="font-size:x-small;border-right:1px solid black;border-bottom:2px solid black;"><b>DATE</b></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:2px solid black;">a.&nbsp;<div style="color:lightgray;font-size:small;position:relative;float:left;left:50%;top:50%;transform:translate(-50% -50%);"><b>NPI</b></div></td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:2px solid black;background-color:lightgray;">b.&nbsp;</td>
        <td colspan="2" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:2px solid black;">a.&nbsp;<div style="color:lightgray;font-size:small;position:relative;float:left;left:50%;top:50%;transform:translate(-50% -50%);"><b>NPI</b></div></td>
        <td colspan="3" style="font-size:x-small;border-left:1px solid black;border-right:1px solid black;border-bottom:2px solid black;background-color:lightgray;">b.&nbsp;</td>
    </tr>
</table>

