<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ProcessPath" value="C:\Users\jengel\Documents\Codelines\FES.git\AccentureSampleTFEFiles\BulkLoader\" />
    <add key="Purge" value="1"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.200.206.169\p013,2013; Initial Catalog=FESSiteDev; user id=Edifecs_Admin;password=Edi_Admin1;Connect Timeout=25" providerName="System.Data.SqlClient" />
    <add name="FESSiteContext" connectionString="Data Source=10.200.206.169\p013,2013; Initial Catalog=FESSiteDev; user id=Edifecs_Admin;password=Edi_Admin1;Connect Timeout=25" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>